<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">

  <ul class="tweets" id="feed">
  </ul>

  <button class="fetch-more">More tweets!</button>
</div>

<%= render 'tweets/form' %>
