<h1>Log In</h1>

<form action=<%= session_url %> method="post">
    <label for="username">Username: </label>
    <input type="text" id="username" name="user[user_name]">

    <br>
    <label for="password">Password: </label>
    <input type="text" id="password" name="user[password]">

    <br>
    <input type="submit" value="Log in">
</form>