<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="post">
    <%= auth_token %>
    <label for="email">Email: </label>
    <input type="text" id="email" name="user[email]">

    <br>
    <label for="password">Password: </label>
    <input type="text" id="password" name="user[password]">

    <br>
    <input type="submit" value="Sign Up">
</form>