<h1><%= @sub.title %></h1>
<h3><%= @sub.description %></h3>

<% if current_user.id == @sub.moderator_id %>
    <form action="<%= sub_url(@sub.id) %>" method="post">
        <% auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete sub">
    </form>
<% end %>