<h1>All of Our Cats!</h1>

<body>
    <ul>
        <% @cats.each do |cat| %>
            <li><%= cat.name %> - <%=  link_to 'more info', cat_url(cat.id)%></li>
        <% end %>
    </ul>

    <br>
    <%=  link_to 'Create a Cat Rental Request', new_cat_rental_request_url %>
</body>