<h1>Add a goal</h1>

<form action="<%= goals_url %>" method="post">
    <%= auth_token %>
    <br>
    <label for="goal_title">Title: </label>
    <input type="text" id="goal_title" name="goal[title]">

    <br>
    <label for="goal_completion_date">Completion Date: </label>
    <input type="date" id="goal_completion_date" name="goal[completion_date]">

    <br>
    <label for="goal_description">Description: </label>
    <textarea id="goal_description" name="goal[description]"></textarea>

    <br>
    <label for="private_false">Public: </label>
    <input type="radio" id="private_false" name="goal[private]" value="false" checked>
    <label for="private_true">Private: </label>
    <input type="radio" id="private_true" name="goal[private]" value="true">
    
    <br>
    <input type="submit" value="Add goal">
</form>