/* PHASE 3: Forms */

.form {
    display: flex;
}

.form-fieldset {
  margin: 0 0 0 20px;
  padding: 19px;
  width: 500px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
    margin-bottom: 20px;
}

.input > label {
    display: block;
    padding-bottom: 10px;
    font-weight: 700;
}

.input > input,
.input > textarea {
    display: block;
    padding: 10px;
    background:#fff;
    width: calc(100% - 21px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input > textarea {
  height: 100px;
}

.input > input:focus,
.input > textarea:focus {
    border: 1px solid #0c0;
}

.button-alternative {
    padding: 0 0 0 5px;
}

.button-alternative > strong {
    font-weight: 700;
    padding-left: 5px;
}

.button-alternative > strong:hover {
    color: #f00;
    cursor: pointer;
}

.submit > button {
    background: #0c0;
    color:  #fff;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
}

.submit > button:hover {
    background: rgb(0, 148, 0);
    filter: drop-shadow(10px);
}