/* PHASE 5: Icons */

[class*="icon-"] {
    background-image: url("../images/sprite.png");
    background-size: 25px 250px;
    display: inline-block;
    width: 25px;
    overflow: hidden;
    padding-top: 25px;
    height: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
}

.icon-comment {
    background-position-y: 0px;
}

.icon-reblog {
    background-position-y: -100px;
}

.icon-favorite {
    background-position-y: -50px;
}

.icon-comment:hover {
    background-position-y: -25px;
}

.icon-reblog:hover {
    background-position-y: -125px;
}

.icon-favorite:hover {
    background-position-y: -75px;
}

[class*="icon-small-"] {
    width: 20px;
    padding-top: 20px;
}

.icon-small-wall {
    background-position-y: -225px;
}

.icon-small-about {
    background-position-y: -200px;
}
.icon-small-friends {
    background-position-y: -175px;

}
.icon-small-photos {
    background-position-y: -150px;

}

