<h2 class="new-tweet-header">New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST" data-tweets-ul="#feed">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">


  <textarea class="tweet-compose-content" name="tweet[content]" placeholder="Type your tweet here..."></textarea>
  <br>

  <strong class="chars-left"></strong>
  <br>

  <ul class="mentioned-users"></ul>
  <br>

  <ul class='tweet-actions'>
    <li>
      <button class="add-mentioned-user">Add mention</button>
    </li>
    <li>
      <input type="submit" value="Post Tweet!">
    </li>
  </ul>
</form>
