<ul>
    <% all_comments[next_comment_parent_id].each do |comment| %>
        <li><%= comment.content %><br><em>by <%= comment.author.username %></em>
        <%= link_to 'see more', comment_url(comment.id) %>
        <%= render 'shared/comments', all_comments: @all_comments, next_comment_parent_id: comment.id%>
        </li>
    <% end %>
</ul>