/* PHASE 1: Header */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.header {
    background-color: rgb(255, 29, 29);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.header a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
}

.header-logo {
    font-weight: bold;
    display: flex;
    margin-right: auto;
    margin-left: 0;
    border-right: 1px solid #ccc;
}

.header-list {
    display: flex;
}

.header-list > li {
    border-left: 1px solid #ccc;
}

.header-list > li:hover{
    background-color: black;
}

.header-logo:hover{
    background-color: black;
}



