/* PHASE 3: Layout */


.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 900px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.content-sidebar {
    padding: 20px;
    /* float: left; */
    width: 200px;
    min-height: 200px;
    border-right: 1px solid #ccc;
}

.content-main {
    padding: 20px 20px 20px 19px;
    min-height: 200px;
    width: 620px;
    /* float: left; */
}