<h1>All Bands</h1>

<ul>
    <% @bands.each do |band| %>
        <li><a href="<%= band_url(band.id)%>"><%= band.name %></a></li>
    <% end %>
</ul>

<br>
<div class="add_button">
<a href="<%= new_band_url %>">Add a new band</a>
</div>