<h1><%= @post.title %></h1>
<h2>in <% @post.subs.each do |sub|%>
    <%= link_to sub.title, sub_url(sub.id) %>
  <% end %>
</h2>


<% if @post.url %>
# <h3><a href="<%= @post.url %>">Link</a></h3>
<% end %>


<p><%= @post.content %></p>